<!-- 4. Output the animalType string, pet boolean, and fierceness number to the page -->
<h2>
    <ul>
        <li>animalType: {{ animalType }}</li>
        <li>pet: {{ pet }}</li>
        <li>fierceness: {{ fierceness }}</li>
    </ul>
</h2>